# ps5-native-app-boilerplate - Generated and local-only file exclusions.
# Copyright (C) 2026 BlackBearReloaded
# SPDX-License-Identifier: GPL-3.0-or-later

.local/
.deps/
results/
assets/private/*.bin
!assets/private/geometry.header.bin
!assets/private/geometry.text.bin
!assets/private/netflix-video-resources.bin
!assets/private/pixel.header.bin
!assets/private/pixel.text.linear-buffer.bin
.env
__pycache__/
*.pyc
build/
dist/
**/bin/
**/obj/
.vs/
.idea/
*.user
*.suo
*.log
*.elf
*.self
*.sprx
*.prx
*.pkg
